<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tpvparatodos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tpvparatodos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tpvparatodos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tpvparatodos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TPVParaTodosEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tpvparatodos.database.windows.net;Initial Catalog=TPVParaTodos;Persist Security Info=True;User ID=Eduardo;Password=Contrasenya123;Application Name=EntityFramework" Name="Data Source=tpvparatodos.database.windows.net;Initial Catalog=TPVParaTodos;Persist Security Info=True;User ID=Eduardo;Password=Contrasenya123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Business.Entities, Business" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TPVParaTodosEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TPVEntities.csdl|res://*/TPVEntities.ssdl|res://*/TPVEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tpvparatodos.database.windows.net;Initial Catalog=TPVParaTodos;Persist Security Info=True;User ID=Eduardo;Password=Contrasenya123;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>